.position-container {
  position: relative;
  text-align: center;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.center-left {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.center-right {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.top-bar-holder {
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
}
