<div class="urp-page">
  <div class="logo pull-left align-self-start"><img alt="" src="/assets/images/logo.png"/></div>
  <div class="container h-100">
    <div class="urp-container">
      <div class="header">
        <p class="name">{{ appName }}</p>
      </div>
      <form class="col-6 urp-form" [formGroup]="form">
        <div class="form-group">
          <i class="fa fa-user"></i>&nbsp; <label for="userToken">登录名</label>
          <div>
            <span class="icon-addon w-100">
              <i class="fa fa-check-circle-o text-success right" *ngIf="isUserNameValidate"></i>
              <i class="fa fa-spin-2x fa-spin right" *ngIf="checkExists"></i>
              <input
                (focus)="inFocus = true"
                (blur)="inFocus = false"
                id="userToken"
                class="form-control"
                type="text"
                [formControlName]="userToken"
                [messages]="errorMessage"
                placeholder="请输入您的登录用户名"
              />
            </span>
          </div>
        </div>
        <div class="form-group">
          <i class="fa fa-key"></i>&nbsp; <label for="password">登录密码</label>
          <input
            id="password"
            type="password"
            [formControlName]="password"
            placeholder="请输入登录密码"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <i class="fa fa-rebel"></i>&nbsp; <label for="rePassword">确认密码</label>
          <input
            id="rePassword"
            type="password"
            formControlName="rePassword"
            placeholder="请再次输入登录密码"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <er-button
            [stateKey]="stateKey"
            icon="fa fa-submit"
            styleClass="btn btn-primary btn-block"
            label="注册"
            [disabled]="!form.valid"
            stateLabel="正在注册..."
            (onClick)="register()"
          >
          </er-button>
        </div>
        <div class="mt-5 text-center">已经注册? 点击 <a routerLink="/user/login">这里</a> 登录.</div>
      </form>
    </div>
  </div>
</div>
