.urp-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url('/assets/images/black.png') no-repeat;
  background-size: 100% 100%;
  .container {
    .urp-container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .header {
        display: flex;
        p {
          font-size: 45px;
          color: #fff;
          padding-left: 5px;
        }

        .name {
          border-left: 5px solid gold;
          padding-left: 10px;
        }
      }
      .urp-form {
        width: 540px;
        background: #fff;
        padding: 20px;
        border-radius: 10px;
      }
    }
  }
}
